
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% set admin_mail = user.email %}
    {% set admin_password = user.password%}
    {% block content %}

    {% endblock %}

    {% block tst %}
    {{user.name}}
    {{user.email}}
    <br>
    {{query_params}}
    <a href="/dashboard/xyz">sdsds</a>
    {% endblock %}
</body>
</html>